%h1.title Visualizar rutas


%h1 Seleccione uno o mas usuarios para visualizar sus rutas

%input#locations{:type => "hidden", :value => @gpsejemplos_json}
= form_tag rutas_gpsejemplos_path,:method => :get do
  %table#table
    %thead
      %tr
        %th Seleccion
        %th Nombre
        %th Eliminar
    %tbody
      - @usuarios.each do |usuario|
        %tr
          %td= check_box_tag "usua[]",usuario.id
          %td= usuario.nombre
          %td= link_to "Eliminar", gpsejemplo_path(usuario), :method => :delete, :confirm => 'Esta seguro que sea eliminar al usuario?'
  = label :"", :algo, 'Ventana de distancia (Metros):'
  = text_field_tag :radio, :"50"
  %p
  = label :"", :algo2, 'Ventana de tiempo (Segundos):'
  = text_field_tag :tiempo, :"10"
  %p
  = submit_tag 'Realizar animacion'
  %p

%p=link_to "Crear usuario con una ruta", new_gpsejemplo_path
= link_to 'Back to location list', locations_path
